``
# OS
.DS_Store
*.swp
._*

**/.DS_Store
**/*.swp
**/._*

.vscode/

*.pyc
__pycache__
**/*.pyc
**/__pycache__

/.env*
/log/*
/tmp/*

# 데이터 폴더 내의 원본 및 전처리된 데이터 모두 제외
data/raw/
data/temp/
data/processed/
